#root {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

nav {
  background-color: #003049;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s, font-weight 0.3s;
}

nav a:hover {
  color: #ffb703;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eff7f6;
  padding: 20px;
}

h2 {
  color: rgba(12, 12, 14, 0.86);
  margin-bottom: 20px;
  margin-top: 20px;
}


div {
  background-color: #c9cad9;
  padding: 5px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.input-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  flex: 1;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #0353a4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #ffb703;
}

button:focus {
  outline: none;
}

.btn-danger{
  background-color: #c1121f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(92, 103, 125, 0.7);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li strong {
  color: rgba(12, 12, 14, 0.89);
}

li:last-child {
  margin-bottom: 0;
}

